body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #242424;
}

/*CSS for the header*/

header {
    padding: 25px;
    text-align: center;
    background: #371963;
    color: rgb(235, 235, 235);
    font-size: 30px;
}


/*CSS for the Nav Bar*/


nav {

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: rgb(235, 235, 235);
}

nav ul {
    list-style: none;

}

h2 {
    color: rgb(235, 235, 235);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

nav ul li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

nav ul li:hover {
    color: rgb(183, 154, 216);
}

.navSelected {
    color: rgb(183, 154, 216);
}

/*CSS for the main content*/

h1.contentTitle {
    text-align: left;
    color: rgb(254, 254, 254);
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}


#spaceShipsListDiv {
    margin: 50px;
    color: rgb(235, 235, 235);

}


/* CSS for the space ship maker form */

.spaceShipForm div.spaceShipName input {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

.spaceShipForm {

    margin: 50px;
    color: rgb(235, 235, 235);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;

}

/* input field style */
.spaceShipForm .geometryMesh {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}


.spaceShipForm .geometryMesh:hover {
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}


.spaceShipForm .geometryMesh:active {
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

/*CSS for the space ship maker form buttons*/
.spaceShipForm button {

    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);

}

/* hover button effect */
.spaceShipForm button:hover {
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

.deleteBtn{
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

.editBtn{
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

/* active button hover effect */
.editBtn:active {
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

.deleteBtn:active {
    background-color: rgb(183, 154, 216);
    color: rgb(235, 235, 235);
}

